<?xml version="1.0" encoding="utf-8" ?>
<plugin xmlns="xmlns://www.fortify.com/schema/pluginmanifest-1.0.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:type="PluginDescriptor"
        id="com.blackducksoftware.fortifyparserplugin" api-version="1.0">
    <plugin-info>
        <name>BlackDuck Vulnerability Parser</name>
        <version><!--VERSION-->.*?<!--/VERSION--></version>
        <data-version>2</data-version>
        <vendor name="BlackDuck Software" url="https://www.blackducksoftware.com/"/>
        <description>BlackDuck scan results parser</description>
        <resources>
            <localization>
                <language id="default" location="/resources/black_duck_parser.txt"/>
                <language id="en" location="/resources/black_duck_parser.txt"/>
                <language id="ru" location="/resources/black_duck_parser_ru.txt"/>
            </localization>
            <images>
                <image imageType="icon" location="/images/blackduck-icon.png"/>
                <image imageType="logo" location="/images/blackduck-logo.png"/>
            </images>
        </resources>
    </plugin-info>
    <issue-parser>
        <engine-type>BLACKDUCK</engine-type>
        <view-template location="/viewtemplate/BlackDuckTemplate.json">
            <description>Default BlackDuck vulnerability view template.</description>
        </view-template>
    </issue-parser>
</plugin>
